cachetools==5.5.2
cbor2==5.7.0
certifi==2025.8.3
charset-normalizer==3.4.3
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
gspread==6.2.1
httplib2==0.31.0
idna==3.10
luma.core==2.5.1
luma.lcd==2.11.0
numpy==2.3.3
oauthlib==3.3.1
pillow==11.3.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyparsing==3.2.4
requests==2.32.5
requests-oauthlib==2.0.0
RPi.GPIO==0.7.1
rsa==4.9.1
smbus2==0.5.0
spidev==3.7
urllib3==2.5.0
